.address-service-order{
	height: 100%;
	width: 100%;
	.address-detail-container{
		height: 100%;
		width: 90%;
		margin: 5%;
		.add-new-address-button{
			width: 50%;
			margin: 0 25%;
			border: 1px solid #cccccc;
		}
		.address-diff-label{
			height: 3rem;
			line-height: 2rem;
			padding: 5% 10% 5% 10%;
			text-align: center;
			font-size: 1rem;
		}
		.address-dataview-view{
			width: 90%;
			height: 80%;
			margin: 0 5%;
			border-top: 1px solid #ccc;
		}
	}
}

.data-item-container{
	height: 12rem;
	margin: 1rem 0;
	border-bottom: 1px solid #cccccc;
	.full-address-container{
		.full-address-div{

		}
		.address-name{
			font-size: 1rem;
			text-align: center;
		}
		.address-line{
			font-size: 1rem;
			text-align: justify;
		}
		.address-cps{
			font-size: 1rem;
			text-align: justify;
		}
		.address-country{
			font-size: 1rem;
			text-align: justify;
		}
	}
	.address-radiofield{
		background-color: transparent;
		width: 2rem;
		.x-field-input{
			border: none;
			min-width: 2rem;
			height: 1.5rem;
		}
		.x-field .x-field-input{
			min-width: 2rem;
			height: 1.5rem;
		}
		.x-field .x-input-el{
			height: 2rem;
			min-height: 2rem;
		}
	}
	.address-deledit-button-container{
		.address-edit-button{
			border: 1px solid #cccccc;
			margin-right: 15%;
		}
		.address-delete-button{
			border: 1px solid #cccccc;
			margin-right: 0.2rem;
		}
	}
}

.x-field-radio .x-field-mask::after{
	background-image: url("../images/icons/tickicon_unchecked.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.x-input-radio:checked+.x-field-mask::after{
	background-image: url("../images/icons/tickicon_checked.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
}

.add-edit-address-view{
	.dashboard-view-container{
		width: 80%;
		margin: 10%;
		.add-edit-address-label{
			text-align: center;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
		.other-textfield{
			width: 90%;
			margin: 2% 5%;
		}
		.address-textfield{
			width: 90%;
			margin: 2% 5%;
		}
		.mobile-number-field{
			width: 90%;
			margin: 2% 5%;
		}
		.save-cancel-btn-container{
			width: 90%;
			margin: 2% 5%;
			.save-address-button{
				border: 1px solid #cccccc;
				margin-right: 15%;
			}
			.cancel-address-button{
				border: 1px solid #cccccc;
				margin-right: 0.2rem;
			}
		}
	}
}

.final-order-preview{
	.final-order-container{
		width: 90%;
		margin: 10% 5%;
		.selected-service-label{
			text-align: center;
			margin-bottom: 1rem;
		}
		.selected-time-label{
			text-align: center;
			margin: 2% 5%;
		}
		.selected-address-label{
			text-align: center;
			margin: 2% 5%;
			line-height: 1.5rem;
		}
		.place-order-button{
			border: 1px solid #cccccc;
			width: 50%;
			margin: 5% 20%;
		}
	}
	
}