.dashboard-view{
	padding: 3rem 0;
	.dashboard-view-container{
		width: 100%;
		margin-top: 2rem;
		.other-textfield{
			width: 75%;
			margin-bottom: 1rem;
		}
		.save-button{
			border: 1px solid #cccccc;
			width: 30%;
		}
		.profile-details-label{
			margin-bottom: 2rem;
		}
	}
}