.google-parent-container{
	width: 100%;
	.google-btn-container{
		width: 80%;
		background-color : #919191;
		height: 3rem;
		.login-via-google-image{
			background-size: 100% 100%;
	  		height: 2rem;
	  		width: 2rem;
	  		margin-left: 5%;
		}
		.login-via-google-label{
			font-size: 1rem;
	  		font-family: "MyMaidBold";
	  		margin: 0 1rem;
		}
	}
}

